body {
    color: black; 
    background-color: #f5f5f5;
    font-family: Georgia, serif;
    font-size: 12pt;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div.text {
 /* padding-left: 20px; 
    padding-right: 20px; */
    text-indent: 2.5em;   
}

li {
 /* padding-left: 20px;
    padding-right: 20px; */
    text-indent: 0em;   
}

td#header {
    width: 800px;
    border: 1px solid #999999;
    background-color: #ffffff;
    padding-left: 10px;    
    padding-right: 10px;       
}

h1#title {
    text-align: center;
 /* text-transform:uppercase;
    font-size: 250%; */
    font-weight: bold;
}

h2 {
    text-indent: 0px;
 /* font-size: 175%; */
    font-weight: bold; 
}

h2.entrytitle {
 /* padding-left: 25px;    
    padding-right: 25px; */
}

h3 {
    text-indent: 0px; 
 /* font-size: 150%; */
    font-weight: bold;
}

h4 {
    text-indent: 0px; 
 /* font-size: 125%; */
    font-weight: bold;      
}

p#subtitle {
    text-align: center;
    padding: 5px;
}

td#search {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#searchform {
    width: 700px;
    text-align: center;
    border: 1px solid #999999;
    background-color: #ffffff;    
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;   
    padding-right: 10px;
    margin-left:auto;
    margin-right:auto;       
}

td#content {
    width: 800px;
    border: 1px solid #999999;
    background-color: #ffffff;
    padding: 10px;
    line-height: 150%;    
}

td#footer {
    text-align: center;
    padding-top: 5px;
    font-size: 75%;
}

table#main {
/*  background-color: #ffffff; 
    border: 1px solid #999999; */
}

pre.source {
	overflow: auto;
	white-space: pre-wrap;                  /* CSS 3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                 /* Opera 4-6 */
	white-space: -o-pre-wrap;               /* Opera 7+ */
	word-wrap: break-word;                  /* IE 5.5+ */
	width: 760px;
}

ol.source {
	overflow: auto;
	white-space: pre-wrap;                  /* CSS 3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                 /* Opera 4-6 */
	white-space: -o-pre-wrap;               /* Opera 7+ */
	word-wrap: break-word;                  /* IE 5.5+ */
	width: 760px;
    font-family: monospace;
}

.evenline {
    background-color: #f0f0f0;
    padding-left: 0.5em;
}

.oddline {
    background-color: #ffffff;
    padding-left: 0.5em;
}

.linenumber {
    float: left;
    font-size: 85%;
    color: #333333;
}

td#footer {
    text-align: center;
    padding-top: 5px;
    font-size: 75%;
}

a {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    color: #000066;
}

a:active {
    color: red;
}

a:visited {
    color: #581C90;
}

a#prevpagelink {
    float: left;
}

a#nextpagelink {
    float: right;
}

a#logout {
    float: right;
}

a.titlelink {
    color: black;
}

span.error {
    color: red;
}

span.actionbuttons {
    float: right;
}
