<?xml version="1.0" encoding="UTF-8"?>
<!-- Hi! This is your blog's configuration file. You must at least set a correct base_location and base_url, as well as change the password here before use. -->
<blog>
    <base_url>http://example.com/blog/</base_url><!-- The URL of your blog. Currently this is only used by rss.php; everything else generates relative URLs. -->
    <base_location>/</base_location><!-- Specifies where Drukkar is located on the server relative to your document root (like the htdocs directory or your user's public_html). -->
    <entries_dir>entries/</entries_dir><!-- Where the entries are kept relative to base_location. -->
    <files_dir>files/</files_dir><!-- Where the uploaded files are kept relative to base_location. -->
    <cache_dir>cache/</cache_dir><!-- Where the cache is kept relative to base_location. -->

    <title>Blog title here</title><!-- Blog's title. Always visible at the top. -->
    <subtitle></subtitle><!-- Displayed right under the title. -->
    <password>696d29e0940a4957748fe3fc9efd22a3</password><!-- The salted hash of your password goes here. Use makepass.php to calculate it. The default is "password". -->
    <salt></salt><!-- Type something random in here to improve how well your password is encrypted. -->
    <session_length>600</session_length><!-- How much time in seconds it takes for your log-in session to expire. -->
    
    <entries_per_page>10</entries_per_page><!-- How many entries you want displayed per one page of your blog. -->
    <entries_per_page_for_tags_and_search>999</entries_per_page_for_tags_and_search><!-- Same as above but for searches and viewing all entries with a centain tag. -->
    
    <entry_links_with_titles>1</entry_links_with_titles><!-- Makes every entry's title a link. Handy for copying. -->
    
    <locale>en</locale><!-- What languages Drukkar's messages are displayed in. The corresponding loc_xx.php file must exist under /inc/. -->
    <date_format>d/m/Y H:i:s</date_format><!-- See http://php.net/manual/en/datetime.format.php for how this works. -->
    <entry_date_from_file_name>0</entry_date_from_file_name><!-- If you set this to 1 instead of using the date field in each entry Drukkar will try to parse the entry's file name as a date. Useful in some semi-exotic cases. -->
    
    <search_enabled>1</search_enabled><!-- Set to 0 to have no search. -->
    <show_dates>1</show_dates><!-- Set to 0 to have no dates shown on any of your entries. -->
    <time_zone>UTC</time_zone><!-- Set this to your time zone. You can see the list of time zones you can specify at http://php.net/manual/en/timezones.php. -->
    <caching_enabled>1</caching_enabled><!-- Whether cache files are created for your blog's pages. Enabling this with 1 costs some disk space but can save a lot of server CPU time. -->
    <cache_searches>0</cache_searches><!-- Whether searches on your blog are cached. Settings this to 1 could result in a lot disk space used for cache, especially from web crawlers. Note that it also stores search queries as plain text in cache files. -->
</blog>
